p {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
}

ul li {
  font-size: 20px;
} 

.workout-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.workout-box {
  width: calc(33.33% - 20px);
  background-color: #f9fafa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 70px;
  margin-bottom: 20px;
}

.workout-box img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.workout-box p {
  font-size: 18px;
  margin: 0;
  white-space: nowrap; 
}


.workout-box .exercise-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.workout-box .exercise {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.workout-box .exercise img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.workout-box .workout-name {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
}

.workout-box p.workouts-text {
  margin-bottom: 20px;
}
